body{
	font-family: 'Playfair Display SC', serif;
}


header{
	height: 100px;
	background-color: #333;
}

#main{
	height: 900px;
	margin: 30px;
	border: 1px dotted black;
	padding: 30px;
}

footer       	{
	height: 100px;
	background-color: #333;
}