body{
	font-family: 'Playfair Display SC', serif;
}


header{
	height: 140px;
  width: 100%;
	background-image:url('top-header.png');
}

#main{
  min-height: 835px;
  height: auto;
  background-image:url('main-content.png');
}

#orders_left{
  height: 75px;
  width: 252px;
  background-color: green;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:55px;
  width:100%;
  background-image:url('bottom-bar.png');
}